<%= form_for(@item, html: { class: "form-horizontal", role: "form" }) do |f| %>

  <%# Alert showing errors for this form %>
  <% if @item.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# quantity %>
  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :quantity, class: "form-control" %>
    </div>
  </div>


  <%# quality %>
  <div class="form-group">
    <%= f.label :quality, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :quality, class: "form-control" %>
    </div>
  </div>


  <%# description %>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>


  <%# image_url %>
  <div class="form-group">
    <%= f.label :image_url, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :image_url, class: "form-control" %>
    </div>
  </div>


  <%# price %>
  <div class="form-group">
    <%= f.label :price, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :price, class: "form-control" %>
    </div>
  </div>


  <%# serial_number %>
  <div class="form-group">
    <%= f.label :serial_number, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :serial_number, class: "form-control" %>
    </div>
  </div>


  <%# purchased_on %>
  <div class="form-group">
    <%= f.label :purchased_on, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :purchased_on, class: "form-control" %>
    </div>
  </div>


  <%# name %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>


  <%# sentimental %>
  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :sentimental %>
          Sentimental
        </label>
      </div>
    </div>
  </div>


  <%# Submit %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end -%>
