<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_item_path(@item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Quantity:</dt>
  <dd><%= @item.quantity %></dd>

  <dt>Quality:</dt>
  <dd><%= @item.quality %></dd>

  <dt>Description:</dt>
  <dd><%= @item.description %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag(@item.image_url(:small)) %></dd>

  <dt>Price:</dt>
  <dd><%= @item.price %></dd>

  <dt>Serial number:</dt>
  <dd><%= @item.serial_number %></dd>

  <dt>Purchased on:</dt>
  <dd><%= @item.purchased_on %></dd>

  <dt>Name:</dt>
  <dd><%= @item.name %></dd>

  <dt>Sentimental:</dt>
  <dd><%= @item.sentimental %></dd>

  <% if @item.sold? %>
    SOLD!
  <% end %>

  <% if @item.color.present? %>
    <dt>Color:</dt>
    <dd><%= @item.color %></dd>
  <% end %>
</dl>
